
@charset "utf-8";

.FirstView {
    position: relative;
    height: 739px
}

@media screen and (max-width: 767px) {
    .FirstView {
        height:fit-content
    }
}

.FirstView__bg-image {
    position: absolute;
    z-index: -1
}

@media screen and (max-width: 767px) {
    .FirstView__bg-image {
        display:none
    }
}

.FirstView__bg-image--left-rectangle {
    top: -70px;
    left: 0
}

.FirstView__bg-image--right-rectangle {
    right: 0;
    bottom: 70px
}

.FirstView__bg-image--fill-rectangle {
    top: 84px;
    left: -70px
}

.FirstView__bg-image--main-visual {
    top: -70px;
    right: 0;
    width: 775px
}

.FirstView__whole-image {
    display: none
}

@media screen and (max-width: 767px) {
    .FirstView__whole-image {
        display:block;
        margin-bottom: 7px;
        width: 100%
    }
}

.FirstView__container {
    max-width: 1040px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding-top: 219px
}

@media screen and (max-width: 1080px) {
    .FirstView__container {
        max-width:none;
        padding-left: 36px;
        padding-right: 36px
    }
}

@media screen and (max-width: 767px) {
    .FirstView__container {
        max-width:none;
        padding-left: 16px;
        padding-right: 16px
    }
}

@media screen and (max-width: 767px) {
    .FirstView__container {
        padding-top:0;
        padding-bottom: 20px
    }
}

.FirstViewContent {
    position: relative;
    width: fit-content
}

.FirstViewContent__title {
    color: #333;
    font-family: "Lato", sans-serif;
    font-size: 42px;
    font-weight: 800;
    line-height: 63px;
    margin-bottom: 16px
}

@media screen and (max-width: 767px) {
    .FirstViewContent__title {
        font-size:22px;
        line-height: 36px;
        position: relative;
        width: fit-content
    }
}

.FirstViewContent__badge-image {
    position: absolute;
    top: -105px;
    right: -150px
}

@media screen and (max-width: 767px) {
    .FirstViewContent__badge-image {
        height:102px;
        width: 102px;
        top: -20px;
        right: -110px
    }
}

.FirstViewContent__button {
    align-items: center;
    background-color: #F79214;
    border: none;
    border-radius: 38px;
    color: #fff;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 700;
    height: 64px;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    width: 100%;
    margin-bottom: 16px
}

.FirstViewContent__button:visited {
    color: #fff
}

.FirstViewContent__button[disabled] {
    background-color: #BBBBBB;
    cursor: not-allowed
}

.FirstViewContent__button.disabled {
    background-color: #BBBBBB
}

.FirstViewContent__button span:first-child {
    font-family: "Lato", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px
}

.FirstViewContent__button span:last-child {
    font-size: 12px;
    line-height: 18px
}

@media screen and (min-width: 768px) {
    .FirstViewContent__button {
        transition:opacity 0.2s
    }

    .FirstViewContent__button:hover {
        opacity: 0.8
    }
}

@media screen and (max-width: 767px) {
    .FirstViewContent__button {
        width:100% !important
    }
}

.FirstViewContent__caption {
    font-size: 12px;
    line-height: 16px
}


.Header {
    background-color: #fff;
    display: grid;
    height: 70px;
    width: 100%
}

}

@media screen and (max-width: 1080px) {
    .Header {
        background-color:#fff;
        z-index: 10
    }
}

@media screen and (max-width: 767px) {
    .Header {
        padding-top:15px;
        padding-bottom: 15px
    }
}

@media screen and (max-width: 414px) {
    .Header {
        height:48px;
        padding: 0
    }
}

.Header--common {
    box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.05)
}

@media screen and (max-width: 1080px) {
    .Header--common {
        position:fixed !important
    }
}

.Header--recruit {
    box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.05);
    position: absolute
}

@media screen and (max-width: 1080px) {
    .Header--recruit {
        background-color:unset !important;
        position: absolute !important
    }
}

.Header--trial {
    background-color: #FCFAF5
}

.HeaderContainer {
    display: flex;
    justify-content: space-between;
    margin: 0 36px 0 36px;
    max-width: 100%;
    position: relative
}

@media screen and (max-width: 767px) {
    .HeaderContainer {
        max-width:100%;
        margin: 0 16px
    }
}

.HeaderContainer>*:last-child {
    display: inline-flex
}

.HeaderLogo {
    align-self: center
}

@media screen and (min-width: 768px) {
    .HeaderLogo {
        transition:opacity 0.2s
    }

    .HeaderLogo:hover {
        opacity: 0.8
    }
}

.HeaderLogo__image--pc {
    display: block;
    height: 20px;
    width: auto
}

@media screen and (max-width: 767px) {
    .HeaderLogo__image--pc {
        display:none !important
    }
}

.HeaderLogo__image--sp {
    display: none;
    height: 16px;
    width: auto
}

@media screen and (max-width: 767px) {
    .HeaderLogo__image--sp {
        display:block !important
    }
}

.HeaderNavList {
    align-items: center;
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
}



@media screen and (max-width: 1080px) {
    .HeaderNavList {
        overflow-y:scroll;
        position: fixed;
        top: 60px;
        left: 100%;
        width: 100%;
        display: block;
        padding-top: 20px;
        padding-bottom: 75px;
        transition: transform 0.5s;
        z-index: 99;
        background-color: rgba(0, 0, 0, 0.8);
        -webkit-overflow-scrolling: touch;
        height: 100%
    }
}

@media screen and (max-width: 767px) {
    .HeaderNavList {
        top:70px
    }
}

@media screen and (max-width: 414px) {
    .HeaderNavList {
        top:48px
    }
}

@media screen and (max-width: 1080px) {
    .HeaderNavList.is-active {
        transform:translate3d(-100%, 0, 0)
    }
}

@media screen and (max-width: 1080px) {
    .HeaderNavList.is-scroll {
        top:60px;
        bottom: 0
    }
}

@media screen and (max-width: 767px) {
    .HeaderNavList.is-scroll {
        top:52px;
        bottom: 0
    }
}

.HeaderNavListItem {
    margin-right: 45px
    
}



@media screen and (min-width: 768px) {
    .HeaderNavListItem {
        transition:opacity 0.2s
    }

    .HeaderNavListItem:hover {
        opacity: 0.8
    }
}

@media screen and (max-width: 1080px) {
    .HeaderNavListItem {
        margin-right:0
    }
}

.HeaderNavListItem:last-of-type {
    margin-right: 0
}

@media screen and (max-width: 1080px) {
    .HeaderNavListItem:last-of-type {
        margin-top:20px
    }
}

.HeaderNavListItem--recruit {
    margin-right: 72px
}

.HeaderNavListItem__link {
    display: block
    
}

@media screen and (max-width: 1080px) {
    .HeaderNavListItem__link {
        padding:20px 0
    }
}

.HeaderNavListItem__link.current {
    color: #F79214
}

.HeaderNavListItem__link>span {
    display: block;
    font-weight: 700;
    text-align: center
}

.HeaderNavListItem__link>span:first-child {
    font-family: "Lato", sans-serif;
    font-size: 12px;
    line-height: 14.4px
}

@media screen and (max-width: 1080px) {
    .HeaderNavListItem__link>span:first-child {
        font-size:16px;
        letter-spacing: 5px;
        color: #fff
    }
}

.HeaderNavListItem__link>span:last-child {
    font-size: 10px
}

@media screen and (max-width: 1080px) {
    .HeaderNavListItem__link>span:last-child {
        font-size:12px;
        margin-top: 10px;
        color: #F79214;
        letter-spacing: 2px
    }
}

.HeaderNavListItem__button {
    align-items: center;
    background-color: #F79214;
    border: none;
    border-radius: 38px;
    color: #fff;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 700;
    height: 64px;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    width: 100%;
    font-size: 12px;
    height: 40px;
    padding: 0 20px
}

.HeaderNavListItem__button:visited {
    color: #fff
}

.HeaderNavListItem__button[disabled] {
    background-color: #BBBBBB;
    cursor: not-allowed
}

.HeaderNavListItem__button.disabled {
    background-color: #BBBBBB
}

.HeaderNavListItem__button span:first-child {
    font-family: "Lato", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px
}

.HeaderNavListItem__button span:last-child {
    font-size: 12px;
    line-height: 18px
}

@media screen and (min-width: 768px) {
    .HeaderNavListItem__button {
        transition:opacity 0.2s
    }

    .HeaderNavListItem__button:hover {
        opacity: 0.8
    }
}

@media screen and (max-width: 1080px) {
    .HeaderNavListItem__button {
        font-size:16px;
        margin: 0 auto;
        height: 60px;
        width: 250px
    }
}

.HeaderNavListItem__button--recruit {
    margin-right: 0;
    padding: 0 !important;
    width: 104px
}

.HeaderNavHamburger {
    display: none
}

@media screen and (max-width: 1080px) {
    .HeaderNavHamburger {
        cursor:pointer;
        display: block;
        position: relative;
        width: 24px;
        height: 17px;
        margin: auto;
        z-index: 100
    }
}

@media screen and (max-width: 414px) {
    .HeaderNavHamburger {
        height:12px;
        width: 18px
    }
}

@media screen and (max-width: 1080px) {
    .HeaderNavHamburger__line {
        position:absolute;
        top: 50%;
        display: block;
        width: 100%;
        height: 2px;
        background-color: #A2A2A4;
        transform: translate(0, -50%);
        border-radius: 10px;
        transition: top 0.2s, transform 0.2s, opacity 0.3s
    }
}

@media screen and (max-width: 1080px) {
    .HeaderNavHamburger__line:first-child {
        top:0
    }
}

@media screen and (max-width: 1080px) {
    .HeaderNavHamburger__line:last-child {
        top:100%
    }
}

@media screen and (max-width: 1080px) {
    .is-active .HeaderNavHamburger__line {
        will-change:top;
        transform: translate(20px, -50%);
        opacity: 0
    }
}

@media screen and (max-width: 1080px) {
    .is-active .HeaderNavHamburger__line:first-child {
        top:50%;
        transform: translate(0, -50%) rotate(45deg);
        opacity: 1
    }
}

@media screen and (max-width: 1080px) {
    .is-active .HeaderNavHamburger__line:last-child {
        top:50%;
        transform: translate(0, -50%) rotate(-45deg);
        opacity: 1
    }
}





